<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content={csrf_token_value()}>

    <%= live_title_tag assigns[:page_title] || "Mijnverbruik", suffix: " · Mijnverbruik" %>

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}>
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")} defer></script>
  </head>
  <body class="bg-gray-100 font-sans antialiased">
    <%= @inner_content %>
  </body>
</html>
